@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav flex items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="text-slate-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" asp-area="" asp-controller="Home" asp-action="Dashboard">My Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="text-slate-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="text-slate-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="text-slate-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="ml-2 bg-blue-500 text-white font-semibold py-2 px-4 rounded-md text-sm hover:bg-blue-600 transition" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
